@charset "UTF-8";

/* Reset de estilos para elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Corrección de typo, debe ser "border-box" */
}

/* Fuente por defecto para todo el sitio */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Estilos para el contenedor principal */

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #09091d; /* Usar colores en notación hexadecimal */
  color: white;
  overflow: hidden; /* Evitar desplazamiento horizontal si el contenido es mayor */
  margin: 0px;
}

/* Estilos para los enlaces del menú */
.menu a {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.menu li {
  list-style: none;
}

.menu .active {
  color: aqua;
}

/* Estilos para el menú */
.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
  align-items: center; /* Centrar verticalmente los elementos */
}

/* Cambio de color al pasar el mouse por encima */
.menu a:hover {
  background-color: #27dce2; /* Usar colores en notación hexadecimal */
  color: blue;
  transition-duration: 0.5s;
}

/* Estilos para el logotipo */
.brand span {
  color: aqua;
}

/* Estilos para la barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 8px; /* Cambiar a "8px" si se desea ajustar el espaciado */
}

/* Estilos para la imagen */
.main img {
  width: 240px;
  height: auto;
  border: 7px solid #1464ee;
}

/* Estilos para la sección principal */
.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr; /* Cambio a "1fr" para ocupar todo el ancho */
  align-items: center;
}

/* Estilos para títulos */
h1, .h1 {
  font-size: 24px;
  background: linear-gradient(270deg, #e3c4ab, #091f64);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #90b9c9;
}

.main .text-container {
  margin-top: 100px;
}

/* Cambiar el color de las etiquetas <span> dentro de esta sección */
h1 span {
  color: aqua;
}

/* Estilos para el botón de descarga */
.download {
  padding: 10px 20px;
  background-color: #9922ee; /* Usar colores en notación hexadecimal */
  border-radius: 20px;
  margin-top: 15px;
  cursor: pointer;
  box-shadow: 1px 4px 11px -5px rgba(135, 159, 238, 0.7); /* Agregar transparencia */
}

/* Cambio de color al pasar el mouse por encima */
.download:hover {
  background-color: #c9f7f7; /* Usar colores en notación hexadecimal */
  box-shadow: none;
}

/* Estilos para las imágenes */
@media (max-width: 768px) {
  .main img {
    width: 100vw;
    height: auto;
  }

  .text {
    font-size: 16px;
  }

  .main .text-container {
    margin-top: 0px;
  }

  .main img {
    border-color: #fff;
  }
}

